<!<!DOCTYPE html>
    <body>
        <h1> <center> Temperature Data </center> </h1>
        <div><div style="float: left;">
            <label><input type="checkbox" id="cboxB03" value="BLIB03_checkbox"> B03 </label><br>
            <label><input type="checkbox" id="cbox108" value="BLI108_checkbox"> 108 </label><br>
            <label><input type="checkbox" id="cbox120" value="BLI120_checkbox"> 120 </label><br>
            <label><input type="checkbox" id="cbox209" value="BLI209_checkbox"> 209 </label><br>
            <label><input type="checkbox" id="cbox223" value="BLI223_checkbox"> 223 </label><br>
            <label><input type="checkbox" id="cbox308" value="BLI308_checkbox"> 308 </label><br>
            <label><input type="checkbox" id="cbox323" value="BLI323_checkbox"> 323 </label><br>
            <label><input type="checkbox" id="cboxOUTSIDE" value="OUTSIDE_checkbox"> Outside</label><br>
            Enter a date after 2016-04-10:<br>
            <input type="date" name="bday" max="1979-12-31"><br><br>
            Enter a date before 2016-05-05:<br>
            <input type="date" name="bday" min="2000-01-02"><br><br>
            <input type="button" onclick="alert('Thanks!')" value="Submit">
        </div>
        <div>
        <figure>
        <embed type="image/svg+xml" src="/graph/" />
        </figure>
        </div></div>
    </body>
</html>>

<!DOCTYPE html>
 <head>
 <title> title </title>
 </head>
 <body>
 <h1>Hello, World!</h1>
 <h2>The date and time on the server is: fuck you</h2>
 </body>
</html>